.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--color-1);
}

.logo {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--color-4);
	font-family: 'TransformersMovie', serif;
	letter-spacing: var(--letter-spacing);
}

.buttons {
	display: flex;
	gap: 1rem;
}

.loginButton,
.signupButton {
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-3);
	background-color: var(--color-1);
	border: 1px solid var(--color-3);
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all 0.2s ease;
	font-family: 'TransformersMovie', sans-serif;
	letter-spacing: var(--letter-spacing);
	text-decoration: none;
}

.signupButton {
	background-color: var(--color-3);
	color: var(--color-1);
}

.loginButton:hover {
	background-color: var(--color-2);
	color: var(--color-1);
}

.signupButton:hover {
	background-color: var(--color-2);
	color: var(--color-4);
}

@media (max-width: 768px) {
	.logo {
		text-align: center;
		width: 100%;
	}
	.loginButton,
	.signupButton {
		display: none;
	}
}
