@font-face {
	font-family: 'TransformersMovie';
	src: url('/Transformers-Movie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-0: #27005d;
	--color-1: #9400ff;
	--color-2: #d5aaff;
	--color-3: #aed2ff;
	--color-4: #e4f1ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'TransformersMovie', sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

/* Add smooth scrolling to the chat container */
.overflow-y-auto {
	scroll-behavior: smooth;
}
