@font-face {
	font-family: 'TransformersMovie';
	src: url('/Transformers-Movie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--color-0: #27005d;
	--color-1: #9400ff;
	--color-2: #d5aaff;
	--color-3: #aed2ff;
	--color-4: #e4f1ff;

	--letter-spacing: 2px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'TransformersMovie', sans-serif;
	letter-spacing: var(--letter-spacing);
	background-color: var(--background-color);
	color: var(--text-color);
}

/* Add smooth scrolling to the chat container */
.overflow-y-auto {
	scroll-behavior: smooth;
}
